{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Eetlijst voor {{ dinnerlist.relevant_date }}</h1>


            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Boodschappen</th>
                                <th>Koken</th>
                                <th>Afwas</th>
                                <th>Betaald</th>
                            </tr>
                            </thead>
                            {% if participants %}
                                <tbody>
                                {% for participant in participants %}
                                    <tr>
                                        <td>{{ participant.user.get_full_name }}</td>
                                        <td>
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" {% if participant.work_groceries %}
                                                           checked {% endif %} name="{{ participant.id }}:groceries">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" {% if participant.work_cook %}
                                                           checked {% endif %} name="{{ participant.id }}:cooking">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" {% if participant.work_dishes %}
                                                           checked {% endif %} name="{{ participant.id }}:dishes">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" {% if participant.paid %}
                                                           checked {% endif %} name="{{ participant.id }}:paid">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <tbody>
                                <tr>
                                    <td>Er is nog niemand ingeschreven</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        {% if dinnerlist.owner %}
                            <p><a href="#" class="btn btn-success btn-block" disabled="true">Eetlijst
                                van {{ dinnerlist.owner.get_full_name }}</a></p>
                        {% else %}
                            <a href="{% url 'dining:claim' %}" class="btn btn-danger btn-block">Claim deze eetlijst</a>
                        {% endif %}

                        {% if user == dinnerlist.owner %}
                            <button class="btn btn-info btn-block">Update</button>
                        {% endif %}

                        <p><a href="{% url 'dining:register' %}" class="btn btn-block btn-primary">Schrijf je in voor
                            deze eetlijst</a></p>
                        <p><a href="{% url 'dining:remove' %}" class="btn btn-block btn-warning">Schrijf je uit</a></p>

                        <h3>Niet leden:</h3>
                        {% for third in thirds %}
                            <p><b>{{ third.name}}</b> (door {{ third.added_by.get_full_name }})</p>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
