{% extends  'base.html' %}

{% load staticfiles %}


{% block header_custom %}
    {% include 'snippets/plugin_datatables.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Stats</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Meegegeten</th>
                    <th>Geholpen</th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat.user.get_full_name }}</td>
                        <td>{{ stat.total_participated }}</td>
                        <td>{{ stat.total_helped }}</td>
                        <td>{{ stat.get_percentage }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block footer %}
    <script type="application/javascript" src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>
    <script type="application/javascript" src="{% static 'datatables/js/dataTables.bootstrap.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                "paging": false,
            });
        });
    </script>
{% endblock %}