{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Hallo {% include 'snippets/user_name_with_nickname.html' %}</h1>

            {% if on_dining_list %}
                <p class="alert alert-success">Je staat op de eetlijst van vandaag</p>
                {% else %}
                <p class="alert alert-success">Je staat nog niet op de eetlijst van vandaag!</p>
            {% endif %}
            {% if request.user.is_superuser %}
                <p class="alert alert-danger">Je bent superuser. Je hebt 100% toegang tot alle informatie.</p>
            {% elif request.user.is_staff %}
                <p class="alert alert-info">Je hebt toegang tot het admin paneel</p>
            {% endif %}

            {% if dining_stats.total_participated > 5 %}
                <h3 {% if dining_stats.get_percentage < 32 %} class="text-warning" {% endif %}>
                    Eetlijst: {{ dining_stats.get_percentage }}%</h3>
            {% else %}
                <h3>Je moet meer dan 5 keer mee-eten om statistieken te krijgen. Je hebt
                    nu {{ dining_stats.total_participated }} keer mee-gegeten.</h3>
            {% endif %}

            <h3>Achievements</h3>
            <p>Deze achievements heb jij gehaald!</p>
            {% if achievements %}
                {% for achievement in achievements %}
                    <p><b>{{ achievement.achievement.name }}</b> {% if achievement.score != -1 %}met als score
                        <b>{{ achievement.score }}</b> {% endif %}</p>
                {% endfor %}
            {% else %}
                <p>Je hebt nog geen achievements gehaald!</p>
            {% endif %}
            <h3>Groepen</h3>
            {% if request.user.groups.all %}
                <ul>
                    {% for group in request.user.groups.all %}
                        <li>{{ group }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Je zit niet in een groep</p>
            {% endif %}
        </div>
    </div>
{% endblock %}