{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Hallo {% include 'snippets/user_name_with_nickname.html' %}</h1>
        </div>
        <div class="col-xs-12 col-lg-7">
            {% include 'account/Widgets/Widget_rights.html' %}
            {% include 'account/Widgets/Widget_eetlijst.html' %}
            {% include 'account/Widgets/Widget_groups.html' %}
            {% include 'account/Widgets/Widget_achievments.html' %}
        </div>
        <div class="col-xs-12 col-lg-5">
            {% include 'account/Widgets/Widget_events.html' %}

        </div>







    </div>
{% endblock %}