.AchievementCollection
{
    display: flex;
    flex-flow:row wrap;
}
.AchievementCollection .Achievement{
    height: 120px;
}

.AchievementCollection .Achievement
{
    margin-top: 10px;
}

.AchievementCollection .noIntel
{
    margin-right: 5px;
}

/*///////////////////////////////////////////////*/
/*///////////Achievement Layout//////////////////*/
/*///////////////////////////////////////////////*/

.Achievement
{

    /*border: 1px solid red;*/
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;

}

/*  --------- INFORMATION BIT ------------ */
.ach_Intell
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    overflow: auto;
}

.ach_intellName
{
    font-weight: Bold;
    font-size: 200%;
    margin-top: -1%;
    padding-left: 10px;
}
.ach_intellKind
{
    font-style: Italic;
    font-weight: 300;
    font-size: 120%;
    margin-top: -10px;
    padding-left: 10px;
}
.ach_intellDesc
{
    font-weight: 500;
    font-size: 120%;
    margin-top: 1%;
    padding-left: 10px;
}


/*  --------- IMAGE BIT ------------ */
.ach_Badge
{
    position: relative;
    height: 100%;
    top: 0%;
    z-index: 1;
    max-height: 300px;
}

.ach_banner
{
    /*width: 150px;*/
    position: relative;
}

/* ----- Marker ---- */
.ach_Marker {
    width: 80%;
    height: 32%;
    top: 0px;
    left: 10%;
    position: absolute;
    color: black;

    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;

    /* Prevent selection of the text */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ach_markerTitle
{
    width: 100%;
    position: relative;
    top: 1%;
    text-align:center;
    font-size: 60%;
}

.ach_markerCounter
{
    position: relative;
    text-align:center;
    top: -4%;
    font-size: medium;
}



/* --------------------------------- POP UP INFORMATION ---------------------------- */

.PUC_Achievement
{
    display:table;
    align-items: center;
    padding: 0px;
    min-height: 250px;
    width: 100%;
}

.PUC_Ach_Arrow
{
    width: 50px;
    height: 200px;
    margin: 0px;
    display: table-cell;

  /* Prevent selection of the text */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  /* Set up the text  style */
    color: var(--color-Link);
    cursor: pointer;
    font-size: 100px;
    text-align: center;
    /*font-family: "Varela Round", sans-serif;*/


}
.PUC_Ach_Arrow:hover
{
    margin: 0px;

    color: var(--color-Link-focus);
    background-color: royalblue;
}



.PUC_Ach_Block
{
    width: auto;
    display:table-cell;
    flex: auto;
}

.PUC_Ach_Block .ach_Intell
{
    font-size: 140%;
}

.PUC_Ach_userBlock
{
    width: 100%;
    display: block;
}

.PUC_Ach_userBlockTitle
{
    padding-top:20px;
    font-weight: bold;
    text-decoration: underline;
}

.PUC_Ach_userBlockList
{
    display: flex;
    align-items: center;
    padding: auto;
    flex-flow:row wrap;
    justify-content: space-around;
}

.PUC_Ach_User
{
    display: block;
    width: 150px;
}

@media (min-width: 600px) {
    .PUC_Achievement .Achievement {
        height: 150px;
    }

    .PUC_Achievement .PUC_Ach_userBlock {
        margin-top: 150px;
    }
}

@media (max-width: 600px) {
    .PUC_Achievement .Achievement {
        display: initial;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }
    .PUC_Achievement .ach_Badge{
        height: 120px;


    }

    .PUC_Ach_Block .ach_Intell
    {
        font-size: 90%;
    }



}