<h3>Agenda</h3>
{% if events %}
    <div id="agenda"></div>
    <script type="text/babel">
        var dateList = [];
        var latedateList = [];
        var onward = "";

        // Create all Date objects
        {% for event in events %}
            {% if event.is_nearby %}
                {% if event.is_public %}
                    dateList.push(<EventDate date="{{ event.get_visual_date }}" name="{{ event.name }}" remark="{{event.remark}}"  location="{{event.location}}"/>);
                {% else %}
                    {% for group in request.user.groups.all %}
                        {% if group == event.group %}
                            dateList.push(<EventDate date="{{ event.get_visual_date }}" name="{{ event.name }}" remark="{{event.remark}}" location="{{event.location}}"/>);
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% if event.category == 5 %}
                    {% if event.is_public %}
                        latedateList.push(<p>{{ event.get_short_visual_date }}: {{ event.name }}</p>);
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

        if (latedateList.length > 0)
            onward = "Later:";

        var element = (
            <div>
                {dateList}
                <h3>{onward}</h3>
                {latedateList}
            </div>
            );

        // Render all Date objects
        ReactDOM.render(
            element,
            document.getElementById('agenda')
        );
    </script>



{% else %}
    <p>Het is zeer, zeer rustig</p>
{% endif %}

