{% if achievementgets %}



    <h3>Achievements</h3>
    <div id="achiever"></div>




    <script type="text/babel">
            /*////////////////////////////////////////////////////////////
            /////////Display a selection of obtained achievements/////////
            ////////////////////////////////////////////////////////////*/

        var achList = [];
        var winners;
        var achObj;
        var winName;
        var imageLocation;

            ///  Loop over all availlable achievements
        {% for achievementget in achievementgets %}
                winners = [];
                {% for get in gets %}
                    {% if get.achievement == achievementget.achievement %}
                        {% with get.user as user %}
                            // Count the number of people who obtained it
                            winName = "{{user.first_name}} {{ user.last_name }}";
                            winners.push(winName);
                        {% endwith %}
                    {% endif %}
                {% endfor %}

                {% if achievementget.personal_image %}
                    imageLocation = "{{achievementget.personal_image}}";
                {% else %}
                    imageLocation = "{{achievementget.achievement.image}}";
                {% endif %}


                    // Make the achievement objects
                achObj = {  name:"{{achievementget.achievement.name }}",
                            link:"{{achievementget.achievement.related_game}}",
                            desc:"{{achievementget.achievement.description|safe }}",
                            imageName:imageLocation,
                            count: winners.length,
                            winners:winners
                            };
                achList.push(achObj);
        {% endfor %};

            // Ready the object that contains all achievements
        const achCollection = (
                <AchievementCollection showCounter="0" showIntell="0" title="Boardgame Achievements" achievements={achList} height="120" width="50%" styleClass="noIntel"/>);

            // Place it in the class
        ReactDOM.render(
            achCollection,
            document.getElementById('achiever')
        );
        </script>
{% endif %}