{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Achievements!</h1>
            <p>Heb je een achievement gehaald en wil je op de lijst komen? Vraag een lid van de ZG of stuur hun een <a
                    href="mailto:zg@kotkt.nl">email</a>.</p>
        </div>
        {% for achievement in achievements %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h2><img src="{{ achievement.related_image.url }}" class="img-responsive img-circle"
                         height="30px"/><b>{{ achievement.name }}</b> ({{ achievement.related_game }})</h2>

                <p>{{ achievement.description|safe }}</p>
                {% if achievement.get %}
                    <ol>

                        {% for get in achievement.get %}
                            <li>{{ get.user.get_full_name }} {% if get.score != -1 %} - {{ get.score }}{% endif %}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p><b>Nog niemand heeft deze achievements gehaald!</b></p>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}