{% extends 'base.html' %}


{% block content %}
    <h1>Events page</h1>

    <div class="col-lg-12" id="tabboxcontainer"></div>

    <script type="text/babel">
        /*////////////////////////////////////////////////////////////
        /////////Display a block of content///////////////////////////
        ////////////////////////////////////////////////////////////*/

        var tabTitles = ["Algemeen", "Bordspellen", "Rollenspellen", "Delta"];
        var tabContent = [];

        tabContent.push(<p>Dit stukje behoort tot Alpha. Want Alpha is baas natuurlijk</p>);
        tabContent.push(<p>Dit stukje behoort tot Beta, de basis waarop de wereld gebouwd is</p>);
        tabContent.push(<p>WEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE</p>);
        tabContent.push(<p>Dit stukje behoort tot Delta, voor de wereld vereist orde en structuur</p>);

        var element = (<TabContainer tabTitles={tabTitles} tabContent={tabContent}/>);

            // Place it in the class
        ReactDOM.render(
            element,
            document.getElementById('tabboxcontainer')
        );
    </script>




{% endblock %}