
    {{ user.first_name }}
    {% if request.user.details.show_nicknames %}
        {% if user.details.nickname %}
            {% if user.details.nickname_is_image %}
            {% else %}
                "{{ user.details.nickname }}"
            {% endif %}
        {% endif %}
    {% endif %}
    {{ user.last_name }}

    {% if request.user.details.show_nicknames %}
        {% if user.details.nickname %}
            {% if user.details.nickname_is_image %}
                <img src="{{ user.details.nickname }}"
                     height="100px" width="auto">
            {% endif %}
        {% endif %}
    {% endif %}